.eventHeader {
    background-color: var(--color-primary);
}

.eventHeader .eventWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;

}

.eventHeader .eventWrapper .eventSummary {
    display: flex;
}

.eventHeader .eventWrapper .eventSummary .poster {
    flex: .5;
}

.eventHeader .eventWrapper .eventSummary .poster img {
    width: 75%;
    border-radius: 1rem 1rem 0rem 0rem;
}

.eventHeader .eventWrapper .eventSummary .eventDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.eventHeader .eventWrapper .eventSummary .eventDetails {
    flex-wrap: wrap;
}

.eventHeader .eventWrapper .eventSummary .eventDetails a {
    color: rgb(113, 165, 237);
}

.eventHeader .eventWrapper .eventSummary .eventDetails .eventCategory {
    margin: 1rem 0rem;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .eventCategory span {
    background-color: var(--color-primary-variant);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share #whatsapp {
    background-color: #128C7E;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share #whatsapp:hover {
    background-color: #25D366;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share #twitter {
    background-color: #1DA1F2;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share #twitter:hover {
    background-color: #34B7F1;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share a {
    display: flex;
    font-size: .8rem;
    align-items: center;
    padding: .4rem .5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
    gap: .5rem;
}

.eventHeader .eventWrapper .eventSummary .eventDetails .share .icon {
    width: 25px;
    height: 25px;
}

.eventHeader .eventWrapper .buyTicket {
    display: flex;
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgb(113, 165, 237);
    border: none;
    color: var(--color-white);
    border-radius: 5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.descriptionContainer {
    width: var(--container-width-ms);
    margin: 0 auto;
    padding-top: 2rem;
}

.activityDescription {
    padding: 1rem;
}

.activityTabs {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-light);
}

.activityTabs .tab {
    position: relative;
    padding: .5rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.fakeBorderBottom {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 5px;
    background-color: rgb(113, 165, 237);
    border-radius: 1rem;
}

.buyTicketContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.buyTicketContainer button {
    padding: 1rem;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 550;
    border: none;
    background-color: rgb(113, 165, 237);
    border-radius: 6px;
    transition: var(--transition);
    cursor: pointer;
}

.buyTicketContainer button:disabled {
    background-color: var(--color-primary-variant);
    cursor: no-drop;

}

@media (max-width: 900px) {
    .eventHeader .eventWrapper {
        flex-wrap: wrap;
    }

    .eventHeader .eventWrapper .buyTicket {
        width: 100%;
        justify-content: center;
        margin: 1rem 0rem;
    }

    .eventHeader .eventWrapper .eventSummary {
        flex-direction: column;
    }

    .eventHeader .eventWrapper .eventSummary .eventDetails {
        margin: 1rem 0rem;
    }
}