.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories .category {
    width: 30%;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--color-white);
    border-radius: .75rem;

    text-align: center;
    transition: var(--transition);
}

.categories .category:hover {
    transform: scale(1.1);
}

#konser {
    background-color: rgba(113, 165, 237, 0.8);
    /* background-image: url("https://kdaidggt0f3v.merlincdn.net/Uploads/Films/dany-brillant-202269171458.jpg"); */
}

#standUp {
    background-color: rgba(121, 111, 246, 0.8);
    /* background-image: url("https://kdaidggt0f3v.merlincdn.net/Uploads/Films/ruya-aslangul-tek-kisilik-gosteri-lafazans-stand-up-20226214458.jpg"); */
}

#tiyatro {
    background-color: rgba(107, 252, 118, 0.8);
    /* background-image: url("https://kdaidggt0f3v.merlincdn.net/Uploads/Films/yaz-sezonu-cocuk-etkinlikleri-bavulumda-kuklalar-muzikli-kukla-tiyatrosu-202267163831.png"); */
}