.headerContainer {
    position: relative;
    padding: 7rem 0rem;
    background-color: #071655;
}

.headerContainer .headerTitle {
    display: flex;
    align-items: center;
    width: var(--container-width-ms);
    margin: 0 auto;
    color: var(--color-white);
}

.headerContainer .headerTitle h2 {
    font-size: 3rem;
    font-weight: 500;
}

.headerImg {
    width: 20%;
    margin-left: auto;
    padding: 1rem;
}

.headerImg img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.headerSearchContainer {
    width: 100%;
    position: absolute;
    bottom: -2rem;
}

.headerSearch {
    display: flex;

    justify-content: space-around;
    width: var(--container-width-ms);
    background-color: var(--color-primary-variant);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, .5);
    gap: 1rem;

}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.headerSearchText {
    cursor: pointer;
    color: var(--color-white);
}

.headerSearchItem .icon {
    width: 20px;
    height: 20px;
    color: var(--color-white);
}

.headerSearchItem select {
    width: 100%;
    border: none;
    cursor: pointer;

}

.headerSearchItem .css-6j8wv5-Input {
    display: flex;
}


#headerBtn {
    flex: .5;
}

.headerBtn {
    width: 100%;
    background-color: rgb(113, 165, 237);
    border: none;
    color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.headerSearchMobile {
    display: none;
    align-items: center;

    width: var(--container-width-ms);
    background-color: var(--color-white);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    gap: .5rem;
}

@media (max-width: 600px) {
    .headerSearch {
        display: none;
    }

    .headerSearchMobile {
        display: flex;
    }

    .headerImg {
        display: none;
    }
}